@import url('https://fonts.googleapis.com/css?family=Proxima+Nova+Soft');

.Background {
  background: url('/images/MiddleCenter.jpg') center center no-repeat fixed;;
  background-size: cover;
  color: white;
  font-weight: bolder;
  height: 700px;
  margin-top: 1px;
  font-family: 'proxima-nova-soft', sans-serif;
}

.AddBackground {
  background: url('/images/MiddleCenter.jpg') center center no-repeat fixed;;
  background-size: cover;
  color: white;
  font-weight: bold;
  height: 1250px;
  font-family: 'proxima-nova-soft', sans-serif;
}

.RecipeBackground {
  background: url('/images/MiddleCenter.jpg') center center no-repeat fixed;;
  background-size: cover;
  color: black;
  font-weight: bolder;
  height: 1000px;
  font-family: 'proxima-nova-soft', sans-serif;
}

.Navbar {
  font-family: 'proxima-nova-soft', sans-serif;
  font-weight: bold;
}